Repository mi11km/monorepo-template: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

biome:
  run: bunx biome check format --write {staged_files}
  stage_fixed: true

prettier:
  run: bunx prettier --write --ignore-unknown {staged_files}
  stage_fixed: true

fix: lefthook error
  lefthook.yaml
Due: prettier

chore: add --noEmit tcs command
  typescript/apps/sample/package.json
  typescript/libs/proto/package.json
Due: biome

style: typescriptのフォーマッターの設定ファイルを移動
  biome.json
  lefthook.yaml
  typescript/.prettierignore
  typescript/apps/sample/package.json
  typescript/biome.json
  typescript/libs/proto/package.json
Due: biome, prettier

style: lint go code
  go/.golangci.yaml
  go/apps/sample/cmd/main.go
  go/apps/sample/internal/api/entrypoint.go
Due: prettier

style: pre-commit時にGoのコードのフォーマットする
  lefthook.yaml
Due: prettier

style: logger package を作成
  Makefile
  go/pkg/logger/Makefile
  go/pkg/logger/README.md
  go/pkg/logger/app.go
  go/pkg/logger/console.go
  go/pkg/logger/go.mod
  go/pkg/logger/go.sum
  go/pkg/logger/level.go
  go/pkg/logger/logger.go
  go/pkg/logger/logger_test.go
  go/pkg/logger/project.json
  go/pkg/logger/root_logger.go
  lefthook.yaml
Due: biome, prettier

fix: remove logger
  go/.golangci.yaml
  go/pkg/logger/Makefile
  go/pkg/logger/README.md
  go/pkg/logger/app.go
  go/pkg/logger/console.go
  go/pkg/logger/go.mod
  go/pkg/logger/go.sum
  go/pkg/logger/level.go
  go/pkg/logger/logger.go
  go/pkg/logger/logger_test.go
  go/pkg/logger/project.json
  go/pkg/logger/root_logger.go
Due: biome, prettier

chore: fix description
  package.json
Due: biome

style: biome.json
  biome.json
  lefthook.yaml
  package.json
  typescript/apps/sample/package.json
  typescript/biome.json
  typescript/libs/proto/package.json
Due: biome, prettier

style: フォーマッターとリンター周り整備 (#2)
  Makefile
  go/.golangci.yaml
  go/apps/sample/cmd/main.go
  go/apps/sample/internal/api/entrypoint.go
  lefthook.yaml
  package.json
  typescript/.prettierignore
  typescript/apps/sample/package.json
  typescript/libs/proto/package.json
Due: biome, prettier

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,jsx,tsx,json,jsonc,css}
  prettier: any of: *.{html,yml,yaml,md,json5}
